.App {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1140px;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__header--main {
  font-size: 3rem;
  font-family: "Special Elite", cursive;
  margin: 0;
}
.home__header--sub {
  font-size: 5rem;
  font-family: "Special Elite", cursive;
  margin: 0;
}

.char-card {
  background: #e7e7e7;
  padding: 5rem;
}

.btn {
  padding: 10px 20px;
}
.btn--white {
  background: white;
}
.btn--ghost {
  border: 1px solid black;
}
@media screen and (max-width: 1000px) {
  .container {
    margin: 0 70px;
  }
}
